.body {
    background-color: #E5E5E5;
}
.delivery {
    position: absolute;
    width: 475px;
    height: 475px;
    left: 0px;
    top: 525px;
    margin-left: 10px;
}
.delivery img {
    position: absolute;
    left: 7.22%;
    right: 17.7%;
    top: 21.53%;
    bottom: 4.38%;
    margin: 102.25px 84.08px 20.82px 34.31px;
    z-index: -1;
}
.response {
    position: absolute;
    width: 475px;
    height: 475px;
    right: 60px;
    top: 525px;
    margin-left: 10px;
    margin-bottom: 4.78px;

}
.response img {
    position: absolute;
    left: 6.41%;
    right: 10.86%;
    top: 27.52%;
    bottom: 26.99%;
    margin: 76.71px 18.94px 4.78px 2.85px;
    z-index: -1;
}
.navbar {
    position: absolute;
    width: 100%;
    height: 96px;
    left: 0px;
    top: 0px;
}
.navbar-brand {
    left: 2.53%;
    right: 83.53%;
    top: 23.96%;
    bottom: 23.96%;
    margin: 23px 23px 23px 38px;
}
@media only screen and (max-width: 968px) {

    .navbar-brand {
    margin: 10px 23px 23px 38px;
    }
}
.container {
    padding: 70px;
    font-family: 'Poppins', sans-serif;
}
.main{
    border-radius: 12px;

}
.form-label {
    font-size: 16px;
    font-weight: 400;
    height: 22px;
}
.form input {
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

#submit-all{
    width: 100%;
    height: 47px;
    background: #F64E60;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    margin-top: 10px;
}
.catatan {
    font-size: 13px;
    margin-bottom: -20px;
}
